/*css_stylesheet*/
.frontpicture{
    border-width: 3px;
    border-style: solid;
    border-color: #3385ff;
}
.elden{
    border-width: 5px;
    border-style: double;
}
.centerum{
    text-align: center;
}