/*css_stylesheet*/
.frontpicture{
    border-width: 3px;
    border-style: solid;
    border-color: #3385ff;
    position: absolute;
    left: 0;
}
.elden{
    border-width: 5px;
    border-style: double;
}
.centerum{
    text-align: center;
}
.fronpicture{
    border-width: 3px;
    border-style: solid;
    border-color: #3385ff;
    position: absolute;
    right: 0;
}