.elden{
    display: block;
    border-width: 4px;
    border-style: solid;
    height: 150%;
    width: 150%;
    margin: 2px;
}
* {box-sizing: border-box}

.eldenBox {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 150%;
  height: 40%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  margin: 2px;
}
.eldenBox:hover .overlay {
  opacity: 1;
}
.centerum{
    text-align: center;
}
body{
  min-height: 800px;
  position: relative;
  max-height: 1200px;
  font-size: medium;
  font-family: Arial;
}
.fronpicture{
    outline-color: blueviolet;
    outline-style: outset;
    position: absolute;
    right: 0;
    top: 1;
    margin-right: 2px;
}
.foot{
  text-align: center;
  position: absolute;
  bottom: -150px;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #e6e6e6;
  border-top: solid #9999ff 2px;
  width: 100%;
  float: left;
}
.on{
    background-color:#b3b3ff;
}
.blokje{
    border: 3px solid blue;
    margin-bottom:  5px;
    margin-right: 5px!important;
    background-color: #dbdbff3e;
}
.vraag{
  height: 72px;
  width: auto;
}
.bladeChaos{
  position: relative;
  top: 86px;
  left: 0;
  width: 330px;
  rotate: -43deg;
}
.bladeChaos2{
  position: absolute;
  top: 302px;
  left: 30px; 
  /* bottom: 300px; */
  rotate: 43deg;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 330px;
}
#blog .row div{
  padding: 0;
}
.hz_logo{
  width: 130px;
  height: auto;
  max-width: 100%; 
  height: auto; 
  position: absolute; 
  top: 0; 
  right: 0; 
  margin: 5px; 
}
.jumbotron {
  border-bottom: solid #9999ff 2px;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccccff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .nav_word {
    float: left;
  }
  .nav_word a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav_word a:hover:not(.active) {
    background-color: #9999ff;
  }
  table {
    width: 100%;
    border: 3px solid #0000009d;
    font-weight: bold;
  }
  td, th {
    border: 2px solid #0000009d;
    text-align: left;
  }
  td:hover,th:hover {background-color: #60baffe5;
  }
  
  .NBSA{
    text-align: center;
    border: 2px solid rgba(255, 15, 15, 0.747);
    border-left: 3px solid rgba(255, 15, 15, 0.747);
    border-right: 3px solid rgba(255, 15, 15, 0.747);
    margin: 0 auto;
    width: fit-content;
  }
  details{
    cursor: pointer;
  }
 .ECstring{
  text-align: center;
 }
 a:active{
  background-color: lightgrey;
}
.sidebar {
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: -260px;
  background-color: darkgray;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 10;
  border-right:solid #9999ff 4px;
}
.sidebar a {
  padding: 10px 15px;
  font-size: 24px;
  color: #000000;
  display: block;
  text-decoration: none;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.close-btn {
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.buttonAsideMenu{
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  background-color: #89b6fff6;
}
.main-content {
  margin-left: 0;
  transition: margin-left 0.5s;
  padding: 16px;
}
.sidebar.open {
  left: 0;
}
.main-content.shift {
  margin-left: 260px;
}
a:-webkit-any-link {
  text-decoration: none!important;
}
.profielLinkjes{
  outline-color: #0864ed;
  outline-style: outset;
}
.Header{
  text-align: center;
  padding: 10px 15px;
  background-color: #b3b3ff;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  margin-top: -60px;
  margin-bottom: 3%;
}
.mainheader{
  text-align: center;
  padding: 10px 15px;
  background-color: #b3b3ff;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-top: 20px;
  margin-bottom: -3%;
}
summary{
  outline-color: #0864ed;
  outline-style: outset;
  padding: 10px 15px;
}
details{
  padding: 10px 15px;
}
.vraagMeme{
  position: absolute;
  outline-color: #33adff;
  outline-style: outset;
  outline-width: 4px;
  right: 140px;
  top: 210px;
}