body {
  display: flex;
  flex-direction: column;
}

.progress-container {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 30px;
  border: 2px solid darkblue;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  
}

.progress-bar-dashboard {
  height: 100%;
  width: 0%;
  /*background-color:#00ffcc;*/
  background-color:#8000ff;
  transition: width 0.3s;
  position: absolute;
}
.percentage-label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.inputCijfer{
  text-align: center;
  height: fit-content;
}
#buttonClick{
  border: 2px solid darkblue;
  height: auto;
  width: auto;
  border-radius: 5px;
}
#buttonClick:hover {
  background-color: rgba(173, 173, 173, 0.916)
};